@page "/"
<div class="bg-yellow-500 w-full flex items-center justify-between">
    <h1 class="font-semibold text-2xl font-sans text-gray-800">Explore</h1>
    <img class="w-16 h-16 rounded-full" src="https://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Captain-America-icon.png" alt="Image de profil" />
</div>
